<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <h1 class='footer-email'>SOSVehicle@hotmail.com</h1>
            <hr class="footer-line">
            <h2 class="footer-tel">(11)98877-6655</h2>
        </div>
            <br>
            <h1 class="direitos">Todos os direitos reservados.</h1>
    </div>
</footer>