<input type="checkbox" id="check">
<Header>
    <h2 id='logo'> <a href="#" class="logo"><img src="images/logo.png"></a></h2>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="login">Login</a>
        <a href="#">Serviços</a>
        <a href="#">Quem somos</a>
    </div>
    <label for="check" id='nav-label'>
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
    </label>
</Header>