<input type="checkbox" id="check">
<Header>
    <div id='logo'></div>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="login">Login</a>
        <a href="/#servicos">Serviços</a>
    </div>
    <label for="check" id='nav-label'>
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
    </label>
</Header>