<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S.O.S Vehicle</title>
         <link rel="stylesheet" href="/stylesheets/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

        </head>
        <body>
            <section>
                <%- include('./partials/nav.ejs') %>
            </div>
        
        
            <div class="content">
                <div class="textBox">
                    <h2>Conforto<br>E <span>Segurança</span></h2>
                    <p>A S.O.S Vehicle é uma plataforma onde você pode solicitar, a qualquer momento, um caminhão guincho para recolger seu veiculo que parou de funcionar ou sofreu acidente. Nossos motoristas parceiros recebem as corridas e tem liberdade para escolher o valor cobrado com base em uma ficha preenchida pelo cliente com informações do local e estado do veiculo. A S.O.S Vehicle não possuí e não possuirá nenhum guincho em seu nome com atividade na plataforma.</p>
        
                </div>
                <div class="spanBox">
                    <h2>Venha fazer parte da <br><span>S.O.S</span></h2>
                </div>
            </div>
                <div id="servicos">
                    <h1>Servicos</h1>
                    <p>A S.O.S. Vehicle é uma plataforma onde motoristas de guincho podem disponibilizar seus serviços de reboque e guincho para todos os usuários da plataforma.</p>
                    <p>Aqui, qualquer usuário pode se cadastrar para procurar caminhões guincho em sua região. O objetivo da plataforma é permitir que qualquer usuário que precise de ajuda com seu veículo possa encontrar ajuda de maneira rápida e segura.</p>
                    <p>A S.O.S. Vehicle não possuí nenhum caminhão guincho em seu nome. Todos os serviços são prestados por motoristas parceiros cadastrados no site. Estes motoristas tem autonomia para decidir o valor cobrado por seu tempo de serviço, e o cliente tem total autonomia de escolher com qual profissional deseja fechar negócio e solicitar ajuda.</p>
                </div>
                <%- include('./partials/footer.ejs') %>
                <div class="circle"></div>
         </section>
        </body>
        </html>