<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="cont">
      <form style='height: 100%;' action="/login/signIn" method="POST" class='formSignIn'>
        <div class="form sign-in">
            <h2>Seja bem-vindo</h2>
            <label for="">
                <span>E-mail</span>
                <input type="email" name="emailSignIn" required>
            </label>

            <label for="">
                <span>Senha</span>
                <input type="password" name="passwordSignIn" required>
            </label>

            <p class="forgot-pass"><a href="#">Esqueceu sua senha?</a></p>
            <button type="submit" class="submit">Entrar</button>
            <% if(typeof(errors) != 'undefined') { %>
              <div style='border: 2px #cfcfcf solid;border-radius: 10px; display: flex; flex-direction: column; overflow-y: scroll; height: 170px;'>
                <p style='font-size: 20px; color: grey; align-self: center;'>Falha ao realizar login.</p>
                <br>
            <% for(i=0; i<errors.length; i++){ %>
                <p style='color:grey; margin-left: 5%;'><%= errors[i].msg%></p>
            <% } %> </div> <% } %>
            
            <% if (signUp == true) { %>
                <div style='border: 2px #cfcfcf solid;border-radius: 10px; display: flex; flex-direction: column; align-items: center;'>
                    <p style='font-size: 26px; color: green;'>Usuário cadastrado com sucesso.</p>
                </div>
            <% } %>

            <% if (credenciaisCadastro == true) { %>
                <div style='border: 2px #cfcfcf solid;border-radius: 10px; display: flex; flex-direction: column; align-items: center;'>
                    <p style='font-size: 26px; color: red;'>Credenciais já cadastradas.</p>
                </div>
            <% } %>

            <% if (cadastro == true) { %>
                <div style='border: 2px #cfcfcf solid;border-radius: 10px; display: flex; flex-direction: column; align-items: center;'>
                    <p style='font-size: 26px; color: red;'>Usuário não encontrado</p>
                </div>
            <% } %>

            <% if (loginFail == true) { %>
                <div style='border: 2px #cfcfcf solid;border-radius: 10px; display: flex; flex-direction: column; align-items: center;'>
                    <p style='font-size: 26px; color: red;'>Email e/ou senha invalidos.</p>
                </div>
            <% } %>
        </div>
      </form>
        <div class="img__btn">
          <span class="m--up">Cadastrar</span>
          <span class="m--in">Entrar</span>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>Novo aqui?</h2>
                    <p>Acesse, e descubra as novas oportunidades que temos para você. Inscreva-se no botão abaixo!</p>
                </div>

                <div class="img__text m--in">
                    <h2>Já é um dos nossos?</h2>
                    <p>Se já tem uma conta, apenas acesse o botão abaixo e entre com seu e-mail e senha</p>
                </div>
            </div>
            <form action="/login/signUp" method="POST" class='formSignUp'>
            <div class="form sign-up">
                <h2>Sinta-se em casa</h2>
                <label for="name">
                    <span>Nome</span>
                    <input type="text" name="name">
                </label>
                
                <label for="">
                    <span>Email</span>
                    <input type="email" name="emailSignUp">
                </label>

                <label for="">
                    <span>Senha</span>
                    <input type="password" name="passwordSignUp">
                </label>
                
                <label class="tipo">
                    <input type="radio" name="tipo" value="usuario" class='user'>Usuário;
                    <input type="radio" name="tipo" value="motorista" class='driver'>Motorista;
                </label>

                <button type="button" class="submit" id='sign-up'>Cadastrar</button>
                <button type="button" class="fb-btn">Entre com <span>Facebook</span></button>
            </div>

            <div class="form sign-up-info">
                <h2>Sinta-se em casa</h2>
                <label for="">
                    <span>Telefone</span>
                    <input type="tel" onkeypress="onlynumber();" name="phone" id="phone">
                </label>
                
                <label for="">
                    <span>CPF</span>
                    <input type="text" onkeypress="onlynumber();" name="cpf" id="cpf">
                </label>

                <label for="">
                    <span>Documento de Identificação (RG)</span>
                    <input type="text" onkeypress="onlynumber();" name="rg" id="rg">
                </label>

                <label for="attachment" class='attachment-label'>
                    <span>Anexar documento</span>
                    <input type="file" id='attachment' name="document-image">
                </label>

                <button type="button" class="submit" id='sign-up-info'>Avançar</button>
                <button type="button" class="fb-btn" id='sign-up-back'>Voltar</button>
            </div>

            <div class="form sign-up-info-second">
                <h2>Sinta-se em casa</h2>
                <label for="">
                    <span>Estado</span>
                    <select name="state" id='estado'>
                        <option selected="" value="" disabled>Selecione o Estado</option>
                    </select>
                </label>

                <label for="">
                    <span>Cidade</span>
                    <select name="city" id="cidade">
                    </select>
                </label>

                <label for="">
                    <span>Estado Civil</span>
                    <select name="civilState">
                        <option selected value="" disabled>Selecione</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a)</option>
                        <option value="viuvo">Viuvo(a)</option>
                        <option value="divorciado">Divorciado(a)</option>

                    </select>
                </label>

                <label for='' class='checkbox-container'>
                <input type="checkbox" class="checkbox" name='terms'>
                <span>Eu li e aceito os <a href='#' class='terms'>Termos de Uso</a> da plataforma.</span>
                </label>

                <button type="submit" class="submit" id='sign-up-info-second'>Enviar</button>
                <button type="button" class="fb-btn" id='sign-up-back-second'>Voltar</button>
            </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <% if(valid = false) {%>
    <script src='javascripts/animacaoLogin.js'></script>
    <script src='javascripts/seletorEstados.js'></script>
    <% } else if (valid = true) { %>
    <script src='../javascripts/animacaoLogin.js'></script>
    <script src='../javascripts/seletorEstados.js'></script>
    <% } %>
    <script>
        function onlynumber(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        //var regex = /^[0-9.,]+$/;
        var regex = /^[0-9]+$/;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>
    $(document).ready(function(){
	$("#phone").mask("(99)99999-9999");
	$("#cpf").mask("999.999.999-99");
	$("#rg").mask("99.999.999-9");
    })
    </script>
</body>
</html>