<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Usuario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel= "stylesheet" href="/stylesheets/usuarios.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  
</head>
<body>
    <header>
        <div id='logo'></div>
        <div class="navigation">
            <a href="#">Minha conta</a>
            <a href="#">Serviços</a>
            <a href="#">Sair</a>
        </div>
    </header>

    <div class="search">
        <select name="serviço">
            <option value="">Serviço</option>
        </select>

        <select name="Estado">
            <option value="">Estado</option>
        </select>

        <select name="serviço">
            <option value="">Cidade</option>
        </select>
        
</div>


<%- include('./partials/footer.ejs') %>

    
</body>
</html>