*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    font-family:"Poppins", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #238AEA;
    z-index: 99;
}
  
header .logo img{
    max-width: 100px;
}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background ;
    margin-right: 15px;
  
}
 
header .navigation a:hover{
    background: #fff;
}

#nav-label{
    display: none;
}
#check{
    z-index: 3;
    display: none;
}
#logo{
    width: unset;
}

body{
    margin-top: 40px;
    font-family: 'Open Sans';
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

input,
button{
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/*
.tip{
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center; 
}
*/

.cont{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 20px auto 100px;
    background: #fff;
    box-shadow: inset 0px 0px 10px lightgray, 0px 0px 20px gray;
}

.form{
    position: relative;
    width: 640px;
    height: 100%;
    transition: transform 1.2s;
    padding: 50px 30px 0;
}

.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    background-color: #fff;
    transition: transform 1.2s;
    box-shadow: inset 0px 0px 10px lightgray;
}

.tipo{
    display: flex;
    right: 0;
}

.cont.s--signup .sub-cont{
    transform: translate3d(-640px, 0, 0);
}

button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

button signup{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("/images/fundoLogin.jpg");
    opacity: .8;
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}

.img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 138, 234, 0.6);
}

.cont.s--signup .img:before{
    transform: translate3d(640px, 0, 0);
}

.img__text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
}

.img__text h2{
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p{
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up{
    transform: translateX(520px);
}

.img__text.m--in{
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in{
    transform: translateX(0);
}

.img__btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}

.img__btn span.m--in{
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in{
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up{
    transform: translateY(72px);
}

h2{
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
    
}

label span{
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

a{
    text-decoration: none;
    color: #cfcfcf;
}

.submit{
    margin-top: 40px;
    margin-bottom: 20px;
    background: #238aea;
    text-transform: uppercase;
}
.fb-btn{
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.fb-btn span{
    font-weight: bold;
    color: #3b5998;
}

.cont.s--signup .sign-in{
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px,0 ,0);
}

.sign-up, .form.sign-up-info, .form.sign-up-info-second{
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up{
    transform: translate3d(261px, 0, 0);
}
.cont.s--signup .sign-up-info{
    transform: translate3d(261px, 0, 0);
}
.cont.s--signup .form.sign-up-info-second{
    transform: translate3d(261px, 0, 0);
}

.attachment-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.4);
    cursor: pointer;
}

#attachment {
    display: none;
}

.form.sign-up-info-second {
    opacity: 0%;
    z-index: -2;
}

.form.sign-up-info{
    position: absolute;
    z-index: -1;
    opacity: 0%;
}

.form.sign-up {
    background-color: white;
    position: absolute;
}

.sign-up.sign-up-2{
    animation: fade-off 1.2s;
    opacity: 0%;
    z-index: -2;
}

.sign-up-info.sign-up-2{
    animation: fade-in 1.2s alternate;
    opacity: 100%;
    z-index: 1;
}
.sign-up.sign-up-1{
    animation: fade-in 1.2s;
    opacity: 100%;
    z-index: 1;
}

.sign-up-info.sign-up-1{
    animation: fade-off 1.2s alternate;
    opacity: 0%;
    z-index: -2;
}

.sign-up-info.sign-up-3 {
    animation: fade-off 1.2s alternate;
    opacity: 0%;
    z-index: -2;
}

.form.sign-up-info-second.sign-up-3 {
    animation: fade-in 1.2s alternate;
    opacity: 100%;
    z-index: 1;
}

.sign-up-info-second.sign-up-2 {
    animation: fade-off 1.2s alternate;
    opacity: 0%;
    z-index: -2;
}



@keyframes fade-off {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        z-index: -2;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        z-index: 1;
    }
}



.checkbox-container{
    display: flex;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.terms{
    text-decoration: underline;
    color: blue;
}

footer {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }
  
  .footer-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .footer-contact h1, .footer-contact h2{
    width: auto;
    font-size: 22px;
  }
  
  .footer-contact hr {
    width: 25px;
    height: 1px;
    margin: 0 10px;
  }
  
  .direitos {
    font-size: 22px;
    margin-left: 20px;
  }

  .social-media{
    align-self: center;
  }

  .social-media i{
    font-size: 35px;
    border: solid 2px white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
   margin-left: 10px;
   color: white;
  }
  
  .social-media i:hover{
    background: #4475e2;
    color: #fff;
    transform: translateY(5px);
  }

@media (max-width: 920px) {
    .form {
      width: 60vw;
    }
    .cont {
      width: 90vw;
    }
    .sub-cont {
      width: 90vw;
      left: 60vw;
      display: flex;
    }
    .sub-cont .img {
        width: 30vw;
    }
    .cont.s--signup .sub-cont{
    transform: translate3d(-60vw, 0, 0);
    }
    .img__text{
    width: 30vw;
    }
    .sign-up, .form.sign-up-info-second, .sign-up-info{
        transform: translate3d(-60vw, 0, 0);
        transition: transform 1.2s;
    }
    .cont.s--signup .sign-up, .cont.s--signup .sign-up-info, .cont.s--signup .form.sign-up-info-second{
        transform: translate3d(30vw,0,0)
    }
    .cont.s--signup .sign-in{
        transform: translate3d(30vw,0 ,0);
    }
    footer {
        justify-content: space-between;
      }
      
      .footer-container {
        justify-content: space-around;
      }
      
      .footer-contact {
        flex-direction: column;
        line-height: 30px;
      }
      .social-media { 
        flex-wrap: wrap;
        width: 160px;
      }
      
      .social-media i{
        margin-bottom: 10px;
      }
}

@media (max-width: 650px){
    header .navigation{
        display: none;
    }

    #nav-label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s ;
        transition-property: color;
        margin: 0;
        height: 25px;
        width: 25px;
        text-align: unset;
    }
  
    #nav-label:hover{
        color: #fff;
    }
  
    #nav-label .close-btn{
        display: none;
        align-self: center;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(114, 223, 255, 0.9);
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight:700 ;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header #nav-label .menu-btn{
        display: none;
    }

    #check:checked ~ header #nav-label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
  
    #nav-label .menu-btn{
        position: absolute;
        align-self: center;
    }
}

@media (max-width: 530px) {
    .form.sign-up, .form.sign-up-info, .form.sign-up-info-second, .form.sign-in{
        width: 90vw;
        box-shadow: inset 0px 0px 10px lightgray, 0px 0px 20px gray;
    }
    .img__text {
        display: none;
    }
    .img::before {
        background: none;
        width: 90vw;
        opacity: 0;
    }
    .img::after{
        background: none;
        width: 90vw;
        opacity: 0;
    }
    .sub-cont .img {
        width: 30vw;
        margin-left: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .cont {
        height: 600px;
    }
    .img__btn {
        color: gray;
        margin-bottom: 20px;
    }
    .img__btn:after{
        border-color: gray;
    }
    .sub-cont {
        background: transparent;
        width: 150vw;
        padding-left: 0;
        left: 0;
    }
    .cont.s--signup .sign-in{
        transform: translate3d(95vw,0 ,0);
        transition: transform 1.2s;
    }
    .sign-in{
        transition: transform 1.2s;
    }
    .cont.s--signup .form.sign-up, .cont.s--signup .form.sign-up-info, .cont.s--signup .form.sign-up-info-second{
        transform: translate3d(60vw,0,0);
        transition: transform 1.2s;
    }
    .sign-up, .form.sign-up-info, .form.sign-up-info-second{
        transform: translate3d(-95vw, 0, 0);
        transition: transform 1.2s;
    }
    footer {
        justify-content: space-between;
      }
      
      .footer-container {
        justify-content: space-around;
      }
      
      .footer-contact {
        flex-direction: column;
        line-height: 40px;
      }
      .social-media {
        display: flex;
        flex-direction: column;
        width: 70px;
      }
      .social-media i {
        margin-left: 0;
        margin-bottom: 10px;
      }
}