*,
*:before,
*:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../images/CarroQuebradoLoading.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

header{
  font-family:"Poppins", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #238AEA;
  z-index: 99;
}

header .logo img{
  max-width: 100px;
}

header .navigation a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background ;
  margin-right: 15px;

}

header .navigation a:hover{
  background: #fff;
}

#nav-label{
  display: none;
}

#check{
  z-index: 3;
  display: none;
}

#logo{
  width: 100px;
  height: 50px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100px 50px;
}

footer {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: "Poppins", sans-serif;
}
  
.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
  
.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
}
  
.footer-contact h1, .footer-contact h2{
  width: auto;
  font-size: 22px;
}
  
.footer-contact hr {
  width: 25px;
  height: 1px;
  margin: 0 10px;
}
  
.direitos {
  font-size: 22px;
  margin-left: 20px;
}

.social-media{
  align-self: center;
}

.social-media i{
  font-size: 35px;
  border: solid 2px white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
}
  
.social-media i:hover{
  background: #4475e2;
  color: #fff;
  transform: translateY(5px);
}

@media (max-width: 920px) {
  footer {
    justify-content: space-between;
  }
      
  .footer-container {
    justify-content: space-around;
  }
      
  .footer-contact {
    flex-direction: column;
    line-height: 30px;
  }

  .social-media { 
    flex-wrap: wrap;
    width: 160px;
  }
      
  .social-media i{
    margin-bottom: 10px;
  }
}

@media (max-width: 650px){
  header .navigation{
    display: none;
  }

  #nav-label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ;
    transition-property: color;
    margin: 0;
    height: 25px;
    width: 25px;
    text-align: unset;
  }
  
  #nav-label:hover{
    color: #fff;
  }
  
  #nav-label .close-btn{
    display: none;
    align-self: center;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a{
    font-weight:700 ;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header #nav-label .menu-btn{
    display: none;
  }

  #check:checked ~ header #nav-label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }
  
  #nav-label .menu-btn{
    position: absolute;
    align-self: center;
  }
}

@media (max-width: 530px) {
  footer {
    justify-content: space-between;
  }
      
  .footer-container {
    justify-content: space-around;
  }
      
  .footer-contact {
    flex-direction: column;
    line-height: 40px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    width: 70px;
  }

  .social-media i {
    margin-left: 0;
    margin-bottom: 10px;
  }
}