*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
header{
  position: fixed;
 top: 0;
  width: 100%;
  height: 50px;
display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#238AEA ;
  z-index: 99;
}

header .logo img{
  max-width: 100px;
 
}
header .navigation a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background ;
  margin-right: 15px;

}



header .navigation a:hover{
  background: #fff;

}
label{
  display: none;
}
#check{
  z-index: 3;
  display: none;
}

#logo{
  width: unset;
}


.content{
  position: relative;
  width: 80vw;
display: flex;
  justify-content:space-between ;
  align-items: center;
  margin-left: 15px;
  z-index: 2;
}

.content .textBox{
 position: relative;
 max-width: 600px;

}
.content .textBox h2{
 color: #000;
 font-size: 4em ;
 line-height: 1.4em;
 font-weight: 500;
}

.content .textBox h2 span{
 color: #238AEA;
 font-size: 1.2em;
 font-weight: 900;
}

.content .textBox p{
  margin-top: 10px;
 color: #000;
 font-size: 20px;
}

.content .spanBox{
  display: flex;
  justify-content: flex-end;  
  padding-right: 0 ;
  align-self: flex-start;
}
.content .spanBox h2{
  font-size: 70px;
  color: #000;
  align-self: flex-start;
}

.content .spanBox h2 span{
  color: #000;
 font-size: 1.8em;
 font-weight: 900;
}


.social-media{
  align-self: center;
}

.social-media i{
  font-size: 35px;
  border: solid 2px white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 50%;
 margin-left: 10px;
 color: white;
}

.social-media i:hover{
  background: #238AEA;
  color: #fff;
  transform: translateY(5px);
}
.circle{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #238AEA;
  clip-path: circle(800px at right 800px);
}

#servicos {
  width: 80vw;
  height: unset;
  z-index: 2;
  color: black;
  margin-top: 10vw;
}

#servicos p {
  font-size: 20px;
}

#servicos h1 {
  font-size: 3.5em;
  color: #238AEA;
  font-weight: 900;
}

footer {
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.footer-contact h1, .footer-contact h2{
  width: auto;
  font-size: 22px;
}

.footer-contact hr {
  width: 25px;
  height: 1px;
  margin: 0 10px;
}

.direitos {
  font-size: 22px;
  margin-left: 20px;
}










@media (max-width: 960px){
  header .navigation{
      display: none;
  }

  label{
      display: block;
      font-size: 25px;
      cursor: pointer;
      transition: 0.3s ;
      transition-property: color;
      height: 25px;
      width: 25px;
  }

  label:hover{
    color: #fff;
  }

  label .close-btn{
  display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a{
    font-weight:700 ;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn{
    position: absolute;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .content .textBox {
    align-self: flex-start;
  }

  .content .textBox h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .textBox h2 span{
    font-size: 40px;
    font-weight: 600;
    color: black;
  }

  .content .spanBox {
    align-self: flex-end;
  }

  .content .spanBox h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .spanBox h2 span{
    font-size: 40px;
    font-weight: 600;
  }

.thumb{
  position: absolute;
  left:  50%;
  bottom: 25%;
  transform: translateX(-50%);
  display: flex;
}
.thumb li button{
  background: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  margin-left: 20px;
}
#servicos {
  display: flex;
  flex-direction: column;
}
#servicos h1 {
  align-self: center;
  color: black;
}
footer {
  justify-content: space-between;
}

.footer-container {
  justify-content: space-around;
}

.footer-contact {
  flex-direction: column;
  line-height: 30px;
}
.social-media { 
  flex-wrap: wrap;
  width: 160px;
}

.social-media i{
  margin-bottom: 10px;
}
}

@media (max-width:560px){
  .content .textBox h2{
  font-size: 35px;
  line-height: 40px;
}
.content .textBox h2 span{
  font-size: 30px;
  font-weight: 600;
}

.content .textBox p{
  font-size: 20px;
}
.content .spanBox h2{
  display: flex;
  flex-direction: column;
  font-size: 35px;
  line-height: 40px;
}
.content .spanBox h2 span{
  font-size: 30px;
  font-weight: 600;
  align-self: center;
}
.content .spanBox {
  align-self: center;
}
.content .textBox {
  align-self: center;
}

#servicos {
  height: unset;
  padding-bottom: 0;
}
#servicos h1{
  font-size: 2em;
  align-self: flex-start;
}

footer {
  justify-content: space-between;
}

.footer-container {
  justify-content: space-around;
}

.footer-contact {
  flex-direction: column;
  line-height: 40px;
}
.social-media {
  display: flex;
  flex-direction: column;
  width: 70px;
}
.social-media i {
  margin-left: 0;
  margin-bottom: 10px;
}
}