*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(../images/loading-broken-car-on-tow-260nw-275048402.webp);
    background-size: cover;
}


header{
    font-family:"Poppins", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #238AEA;
    z-index: 99;
}

header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background ;
    margin-right: 15px;
    font-size: 20px;
}
header .navigation a:hover{
    background: #fff;
}

.search{
    display: flex;
    justify-content: space-around;
    margin-top: 300px;
    color: #000;


}
.search select{
background-color: rgb(196, 196, 196);
color: #000;
width: 300px;
height: 50px;
border-radius: 50px;
font-size: 25px;
}

footer {
    margin-top: 560px;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }
  
  .footer-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .footer-contact h1, .footer-contact h2{
    width: auto;
    font-size: 22px;
  }
  
  .footer-contact hr {
    width: 25px;
    height: 1px;
    margin: 0 10px;
  }
  
  .direitos {
    font-size: 22px;
    margin-left: 20px;
  }

  .social-media{
    align-self: center;
  }

  .social-media i{
    font-size: 35px;
    border: solid 2px white;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
   margin-left: 10px;
   color: white;
  }
  
  .social-media i:hover{
    background: #4475e2;
    color: #fff;
    transform: translateY(5px);
  }