body{
    margin: 0%;
    background-image: url(Imagens/fundo.jpg);
    background-size: cover;
}

nav{
    background-color: #1515d362;
    width: 100%;
    height: 50px;
    border-bottom: solid 2px #0d0d8062;
    display: flex;
    align-items: center;
    position: fixed;
}

.logo{
    background-image: url(Imagens/logo.png);
    background-size: 50px;
    height: 50px;
    width: 50px;
}

nav ul{
    list-style: none;
    display: inline-flex;
    position: absolute;
    right: 0px;
}

nav li a{
    padding: 16.5px;
    justify-content: center;
}
.menu{
    text-decoration: none;
    color: white;
}

nav .menu:hover{
    transition: 0.5;
    background-color:#e4e4e4;
    color: black;
}