body {
    margin: 0px;
    font-family: Arial;
    background-image: url(Imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#abaSuperior {
    height: 75px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border: inset;
    border-color: rgba(0,0,0,1);
    border-radius: 5px;
    text-align: center;
    font-size: 18;
    color: white;
}
#logo {
    height: 50px;
    width: 300px;
    background-image: url(imagens/logo.jpg);
    position: relative;
    top: 12.5;
    left: 12.5;
}
#login {
    height: 20px;
    width: 50px;
    position:absolute;
    top: 27.5;
    right: 27.5;
}
#servicos {
    height: 20px;
    width: 70px;
    position: absolute;
    top: 27.5;
    right: 105;
}
#quemSomos {
    height: 20px;
    width: 125px;
    position: absolute;
    top: 27.5;
    right: 202.5;
}
#home {
    height: 20px;
    width: 50px;
    position: absolute;
    top: 27.5;
    right: 355;
}